<body>
  <p>Hello {{firstName}} {{lastName}},</p>
  <br />
  <!-- Change the name for your choosing -->
  <p>Welcome to Liftgress,</p>
  <p>
    Click
    <b><a href='{{link}}' target='_blank'>here</a></b>
    to activate your acount or go to this link:
    {{link}}
  </p>
  <p><small>This link will expire in an hour.</small></p>
  <br />
  <!-- Change the name for your choosing -->
  <p>Best of luck,</p>
  <p>TugaScript Team</p>
</body>