<body>
  <p>Hello {{firstName}} {{lastName}},</p>
  <br />
  <!-- Change the name for your choosing -->
  <p>Welcome back to Liftgress,</p>
  <p>
    Here's your login code:
    <b>{{code}}</b>
  </p>
  <p><small>This code will expire in 5 minutes.</small></p>
  <br />
  <!-- Change the name for your choosing -->
  <p>Best of luck,</p>
  <p>TugaScript Team</p>
</body>